/* 修正粗體 */
/* @font-face {
    font-family: '微軟正黑體修正';
    unicode-range: U+7db0, U+78A7, U+7B75; /* ASCII (碧筵綰) */
/*    font-style: normal;
    font-weight: bold;
    src: local(Yu Gothic), local(MS Gothic);
} */
/* 一般粗細的時候改回微軟正黑 */
/* @font-face {
    font-family: '微軟正黑體修正';
    unicode-range: U+7db0, U+78A7, U+7B75; /* ASCII (碧筵綰) */
/*     font-style: normal;
    font-weight: normal;
    src: local(微軟正黑體);
} */

.locale-untranslated{
	text-decoration:none;
}

h1, .page-title, #block-views-testsliceview-block > h2, 
#block-block-10 > h2, #block-block-12 > h2, 
#block-views-exp-albumview-page-album-1 > h2, #block-views-exp-albumview-page > h2 {
	color: #BD0071;
	font-size: 2.3em;
	font-weight: bold;
	text-align: center;
	border: 0;
	padding: 0.8em 0;
	margin: 0;
}

.not-front .page-title, 
#block-views-exp-albumview-page-album-1 > h2, #block-views-exp-albumview-page > h2 {
	text-align: left;
	padding: initial;
	padding: 0;
	margin: 10px 0;
}

.page-frontpage-en .page-title {
	text-align: center;
	padding: 0.8em 0;
}

h2 {
	color: #7843A3;
	margin: 6px 0;
}

h3 {
	margin: 6px 0;
}
.front h3 > a, .page-frontpage-en h3 > a {
	color: #51225E;
}

a:hover {
	text-decoration: underline;
}

img {
	/* width: initial; */
	max-width:100%;
	max-width:none;
	height:auto;
}
table{
	border-collapse: initial;
	max-width:100%;
	margin-top:20px;
	margin-bottom:20px;
}
.inline-block {
	display: inline-block;
}

/*.region-top-right {
	float: right;
	margin-top: 30px;
}*/

.region-top-right .block {
	display: inline-block;
	margin-right: 1.5em;
	vertical-align:bottom;
}

.region-top-right ul {
	margin: 0;
}

.region-top-right li {
	display: inline-block;
	margin-right: 1em;
}

.front #header, .page-frontpage-en #header, #header {
	max-width: 1080px;
}
.front #logo, .page-frontpage-en #logo{
   margin: 15px 0px 15px;
}
#header #block-block-20{
	display:inline-block;
	vertical-align: bottom
}
#header #block-block-20 .mobile-only img, #header #block-block-15 img{
	vertical-align: bottom;
}
#header .desktop-only{
	display:inline-block;
}
#block-search-form {
    padding-bottom: 0;
}
#block-search-form .form-item-search-block-form input{
	height:25px;
	height:15px;
}
li.sidebar-only{display:none;}
.block-menu-block li.sidebar-only{display:list-item;}
#mobile-menu {
	display: none;
}

#mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    min-width: 210px;
    min-width: 100%;
}

.page-frontpage-en #breadcrumbs {
	display: none;
}

#block-views-slick-views-block-1 {
	/* height: 440px; 
	overflow: hidden;*/
}
#block-views-slick-views-block-1 .slick-list{/*height:435px;*/ overflow:hidden}

#block-views-slick-views-block-1 img {
    width: 100%;
}

.button {
	color: #FFF;
    background-color: #7843A3;
    padding: 10px 30px;
    margin: 30px 30px 0 0;
    display: inline-block;
}

.button:hover {
	text-decoration: underline;
}

#container {
	margin: 0 auto;
}
.not-front #container {
	max-width:1080px;
}
.page-frontpage-en #container {
	max-width:100%;
}
#breadcrumbs {
	border-bottom: #eee 1px solid;
	display:inline-block;
	width:100%;
}

.front #breadcrumbs, .page-frontpage-en #breadcrumbs {
	border: 0;
	display:none;
}

.breadcrumb {
	margin-right: 10%;
	margin-right: 1%;
	float: initial;
	text-align: right;
	/*padding: 20px 0;*/
	border: 0;
}

.front .block, .page-frontpage-en .block {
	margin-bottom: initial;
	/* padding-bottom: 1.25em; */
}

#main-menu {
    max-width: 78%;
    max-width: 1080px;
}

.front #main-menu, .page-frontpage-en #main-menu {
	max-width: 1080px;
}
#main-menu .nav-toggle img{
	width:auto;
}
/* .node-page table,.node-page table td {
	border: inherit;
	border-collapse:initial;
} */

.content a img {
	height: auto;
	padding: 0;
	margin: 0;
	border: 0;
	box-shadow: none;
}

p, td {
	color: #000000;
	margin: inherit;
}

.views-widget .better-select {
	max-height: 126px;
	
}

/* datepicker */
.ui-widget-content {
	border: 1px solid #FFF;
}

.ui-widget-header {
	background: #ccc;
}

.ui-corner-all {
	border-radius: 0;
	border: 0;
}

.highlight-date {
	background: none !important;
}

.highlight-date a.ui-state-default {
    background: #D1D0E9;
	font-weight: bold;
	color: #000;
}

.ui-datepicker-today a.ui-state-default{
	border:1px solid #eee;
	background:#FFF;
}
.ui-datepicker-current-day a.ui-state-active{
	background:#e453aa;
}
.tday a.ui-state-default{
	border:1px solid #eee;
	background:#FFF;
}
.better-select.form-checkboxes-scroll {
	border: 0;
	width:100%;
	min-width: 250px;
	background-color: #F7F5F5;
	/* padding: 10px; */
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
.better-select.form-checkboxes-scroll .form-type-checkboxes{
	padding: 10px;
}
select.form-select{
	height:35px; 
	/* padding:10px; */
	/* -webkit-appearance: initial; */
}

#block-views-slick-views-block-1 {
	margin-bottom: 28px;
}

#block-views-slick-views-block-1 ul.slick-dots {
	background-color: #ECECEC;
	bottom:0;
	bottom:-32px;
}

#block-views-testsliceview-block {
	/* border-bottom: 1px solid #eee */;
	text-align:center;
}

#block-views-testsliceview-block img {
    /*width: 450px;*/
    width: 360px;
    margin: 0 auto;
	max-width:100%;
}

#block-views-testsliceview-block ul.slide__content {
	/*padding: 0 410px;*/
	max-width: 1400px;
	max-width: 1200px;
	max-width: 1080px;
	min-height: 270px;
    margin: 0 auto;

}

#block-views-testsliceview-block li {
    max-width: 450px;
    max-width: 360px;
}

#block-views-testsliceview-block .slick-media.media.media--image {
    /*height: 330px;*/
    height: 200px;
    overflow: hidden;
}

#block-views-testsliceview-block ul.slick-dots {
	bottom: -15px;
}

/*

@media only screen and (min-width: 64.063em)
.large-block-grid-3 > li {
	width: 33.33333%;
}
@media only screen and (min-width: 40.063em)
.medium-block-grid-6 > li {
	width: 16.66667%;
}
.small-block-grid-6 > li {
	width: 16.66667%;
}

@media only screen and (min-width: 64.063em)
.large-block-grid-3 > li:nth-of-type(3n+1) {
	clear: both;
}

*/

.slick-prev:before, .slick-next:before {
	content: "";
}

button.slick-arrow {
	width: 40px;
    height: 56px;
    border: 0;
    border-radius: 0;
	box-shadow: none;
}

.slick-prev {
    left: 210px;
    left: 12%;
    background: url("/sites/hkggacms/files/img_left.png") no-repeat;
}

.slick-next {
    right: 210px;
    right: 12%;
    background: url("/sites/hkggacms/files/img_right.png") no-repeat;
}

.slick-prev:hover, .slick-prev:focus {
	background: url("/sites/hkggacms/files/img_left.png") no-repeat 100%;
	box-shadow: none;
}
.slick-next:hover, .slick-next:focus {
	background: url("/sites/hkggacms/files/img_right.png") no-repeat 100%;
	box-shadow: none;
}

.slick-dots li {
	margin: 10px 8px;
	margin: 6px 8px;
}

.slick-dots li button {
	box-shadow: none;
}

#block-views-events-list-event-block-1 {
	display: none;
}

body.sidebar-second #sidebar-second {
	width: 17%;
	width: 25%;
}

#block-views-event-block-block, #block-views-news-block-block, #block-views-related-resource-block-block {
	width: 100%;
}

#block-views-event-block-block > h2, #block-views-news-block-block > h2, #block-views-related-resource-block-block > h2 {
	background: #7D7D7D;
	color: #FFF;
	padding: 5px 8px;
	font-size: 1.5em;
}

#block-views-event-block-block .views-row, 
#block-views-news-block-block .views-row, 
#block-views-related-resource-block-block .views-row {
	border-bottom: 1px #ccc solid;
	padding: 1.2em 0;
}

#block-views-event-block-block h3 > a, #block-views-news-block-block h3 > a, #block-views-related-resource-block-block h3 > a {
	color: #51225E;
}

.slidericontitle {
	padding-left: 25px;
	color: #666;
	background: url(/sites/hkggacms/files/hkgga_desktop-08.png) no-repeat scroll left top;
}

.btnMoreNews:before {
	content: " > ";
}

.btnMoreNews {
	margin: 20px 0;
	/*margin-left: -50px;*/
    /* width: 20%; */
    padding: 10px 190px;
}
/*more news/event btn block*/
#block-block-18,#block-block-26 {
	text-align: center;
	/*margin-bottom: 2em;*/
	border-bottom: 1px solid #eee
}

.item-list .pager li {
	background: none;
}
/* view: frontpage (Content) */
body.sidebar-first .content-sidebar-wrap {
	width: initial;
}

.front .content-sidebar-wrap, .page-frontpage-en .content-sidebar-wrap {
	max-width: 1450px;
	/* margin: 0 10%; */
	/*margin-bottom: 50px;*/
}

.front .content-sidebar-wrap img, .page-frontpage-en .content-sidebar-wrap img {
	width: 100%;
}

.front .content-sidebar-wrap > #content, .page-frontpage-en .content-sidebar-wrap > #content {
	/*width: 64%;*/
	width: 100%;
	margin-bottom: inherit;
}

.front aside#sidebar-first, .page-frontpage-en aside#sidebar-first {
    clear: both;
    width: 30%;
	margin-top: 6.7em;
	margin-left: 2%;
	border-bottom: 1px solid #c8c7c7;
}

.front #block-block-13, .page-frontpage-en #block-block-13 {
	text-align: left;
}

.front #sidebar-first .field-content, .page-frontpage-en #sidebar-first .field-content {
	max-height: 150px;
	overflow: hidden;
	margin-bottom: 10px
}

.front td, .page-frontpage-en td {
	border-bottom: 1px solid #c8c7c7;
	padding: 15px 0;
	vertical-align: top;
}

.front td:nth-child(1), .page-frontpage-en td:nth-child(1) {
	/*padding-right: 20px;*/
	border-right: 55px solid white;
}
.front .view-id-indexpage, .page-frontpage-en .view-id-indexpage {
	max-width: 1270px;
	max-width: 1270px;
    margin: 0 auto;
}
#first-news, #news-content {
	/*float:left;*/
	display: inline-block;
}
#first-news {
	/*width:30%;
	padding: 20px 0;*/
	margin: 0 20px;
	margin: 0 10px;
    vertical-align: top;
}
#first-news .views-row{
	width: 335px;
    padding: 15px 0;
    border-bottom: 1px solid #c8c7c7;
}
#first-news .views-field-field-news-image {
    max-height: 200px;
    overflow: hidden;
    margin-bottom: 10px;
}
#first-news img {
    width: 100%;
}
#news-content {
    /* width: 64%;
    width: auto; */
}
#news-content>.views-row {
    float: left;
	margin: 0 15px;
    width: 315px;
	min-height: 140px;
    border-bottom: 1px solid #c8c7c7;
    padding: 15px 0;
}
#news-content>.views-row:nth-child(2n-1){
	clear:both;
}
#first-news .front-news-area, #news-content .front-news-area{
    color: #7843a3;
}
.page-frontpage-en-test .view-header {
	float: left;
	/*display: inline-block;*/
    max-width: 33%
}

.page-frontpage-en-test .view-content {
	float: left;
	/*display: inline-block;*/
    max-width: 66%;
}

.page-frontpage-en-test .view-content .views-row {
    float: left;
    width: 50%;
}

.page-frontpage-en-test .view-header .view-content .views-row {
	clear:both;
	width: initial;
}

/* view: frontpage (Content) :: end */

.front #block-block-10, .page-frontpage-en #block-block-10 {
	display: block;
	background-color:#FFDEDE;
	/*padding-top: 1%;*/
}
.front .view-id-indexpage, .page-frontpage-en .view-id-indexpage,
.view-testsliceview, .front #block-block-10 .about-block-wrapper, .page-frontpage-en #block-block-10 .about-block-wrapper {
	max-width: 1080px;
	margin: 0 auto;

}
.view-testsliceview, .front #block-block-10 .about-block-wrapper, .page-frontpage-en #block-block-10 .about-block-wrapper {
	text-align: center;
}
#slick-views-testsliceview-2{
	padding-bottom:20px;
}
.front #block-block-10 .about-block-wrapper img, .page-frontpage-en #block-block-10 .about-block-wrapper img {
/*	width: 340px;
	height: auto;*/
    width: 350px;
    height: auto;
    margin: 5px;
	max-width:100%;
}

.front #post-content, .page-frontpage-en #post-content {
	margin-top:0;
/*	width: 100%;
    margin: 0 auto;
	padding: 0 80px;*/
}

.front #post-content td, .page-frontpage-en #post-content td {
	width: 50%;
}

.front #post-content h1, .page-frontpage-en #post-content h1 {
	/*text-align: left;*/
	/* padding-bottom: 0; */
	/* padding: 0; */
	/* margin-left: -140px; */
	/*padding-left: 150px;*/
}

.front .resIcon, .page-frontpage-en .resIcon {
	margin: 0 auto;
	text-align: center;
}

.front .resIcon > div, .page-frontpage-en .resIcon > div {
	/*width: 110px;*/
	/*margin: 0 100px;*/
	margin:0 5%;
	text-align: center;
	display: inline-table;
	vertical-align: top;
}

.front .resIcon a, .page-frontpage-en .resIcon a {
	color: #51225E;
}

table.views-table {
	border-collapse:collapse;
	width: 100%;
}    
.calendar, .view-events-list h3 > a, .view-resource .views-field-title h3 > a {
	width: 100%;
	color: #000;
}

.btnFilter {
	background: url("/sites/hkggacms/files/icon-filter.png") 50% 50% / cover no-repeat;
	width: 30px;
	height: 30px;
	cursor: pointer;
	z-index: 9999;
	display:none;
	margin: 10px;
}


.view-resource .views-field-field-resource-type{
	/* float: left; */
	display: inline-table;
	margin-right: 20px;
}
.view-resource .res-icon{
    width: 60px;
}
.view-resource .res-icon img{
	width:100%;
}
.view-resource .views-field-title {
	width:100%;
	max-width: 85%;
    display: inline-table;
    vertical-align: top;
}
.view-resource .res-files li {
	float:left;
}
.view-resource .res-files .file {
	margin-right:2em;
}
.view-resource .views-field-created {
	float: left;
	margin-right: 20px;
}

.view-resource .views-row {
	margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

#block-views-resource-block-1 {
	display:none;
}
	
div.field_area {
	display: inline;
	color: #7843A3;
}
.file .file-size{
	display:none;
}
.field_eventsimage {
	width: 200px;
	/* height: 100px; */
	overflow: hidden;
}
.field_eventsimage img {
	width: 200px;
	height:auto;
	max-width:100%;
}

.view-events-list tr td {
	padding: 20px 0;
	vertical-align: top;
}
.view-events-list tr td:nth-child(1) {
	width: 220px;
}

/* news list */
.calendaricon {
	clear: both;
	font-size: 1.25em;
	padding-top: 10px;
}
.calendaricon span {
	margin-top:10px;
	font-size: 0.8em;
	padding: 0;
}

.view-news-list td:nth-child(1) {
	width: 80px;
}
.view-news-list td {
	padding: 20px 0;
	/* vertical-align: baseline; */
	vertical-align: top;
}
/* news list ::end */

#sidebar-second ul.menu,#sidebar-second-mobile ul.menu {
	border: 1px solid #CCCCCC;
}

#sidebar-second ul.menu a,#sidebar-second-mobile ul.menu a {
	color: #000;
	font-weight: bold;
}

#sidebar-second ul.menu li,#sidebar-second-mobile ul.menu li {
	list-style: none;
	border-bottom: 1px dotted gray;
	padding: 3%;
}
#sidebar-second-mobile ul.menu li {
	padding:5px;
}
#sidebar-second-mobile ul{
	margin-left:0;
}
#sidebar-second ul.menu li:nth-last-child(1),
#sidebar-second-mobile ul.menu li:nth-last-child(1) {
	border-bottom: 0;
}

#sidebar-second ul.menu li.active,#sidebar-second-mobile ul.menu li.active {
	background: #F7F5F5;
	border-bottom: 2px solid #7844A4;
}

#sidebar-second ul.menu li.active a.active:after,#sidebar-second-mobile ul.menu li.active a.active:after {
	content: " > ";
}
	
body.sidebar-second #content {
	width: 100%;
}

#block-views-news-list-news-block-1,#block-views-albumview-album-block-1 {
	display: none;
}

#socialbar ul li ul {
	margin-left: 0;
}
#post-content {
	position: relative;
}
/* photo album */
.page-album #post-content,.page-album-en #post-content{
	/* padding-right:0; */
}
.page-album #edit-field-related-section-tid-wrapper,.page-album #edit-field-events-location-tid-wrapper,.page-album #edit-field-events-type-tid-wrapper,
.page-album-en #edit-field-related-section-tid-wrapper,.page-album-en #edit-field-events-location-tid-wrapper, .page-album-en #edit-field-events-type-tid-wrapper {
	/* min-width: 285px; */
	/* width:31%;
	padding:.5em 2em 0 0; */
}
.page-album #edit-field-events-type-tid-wrapper,
.page-album-en #edit-field-events-type-tid-wrapper{
	/* padding-right:0;
	margin-right:0; */
}
/* .page-album #edit-field-related-section-tid-wrapper, .page-album #edit-field-events-location-tid-wrapper, .page-album #edit-field-events-type-tid-wrapper, .page-album-en #edit-field-related-section-tid-wrapper, .page-album-en #edit-field-events-location-tid-wrapper, .page-album-en #edit-field-events-type-tid-wrapper{ */
.page-album .views-exposed-widget,.page-album-en .views-exposed-widget{
	/* display:inline-block;
	vertical-align:top; */
}
label.arrow-down,label.arrow-up{
	/* background-color: #eee; */
	border: 1px #ddd solid;
	padding: 2px;
}
.page-album .views-exposed-form .views-exposed-widget .form-submit,
.page-album-en .views-exposed-form .views-exposed-widget .form-submit{
	/* margin-top: 1em; */
}
/* .page-album h1.page-title, .page-album-en h1.page-title{
	display:none;
} */

.arrow-down {
    background: url("/sites/hkggacms/files/hkgga_desktop-88.png") no-repeat 95%; /* 30%; */
	cursor:pointer;
}

.arrow-up {
    background: url("/sites/hkggacms/files/hkgga_desktop-89.png") no-repeat 95%; /* 30%; */
	cursor:pointer;
}

/* .view-albumview .views-submit-button{
	clear: both;
    display: inline;
} */
.view-albumview .views-row {
	width: 450px;
	width: 45%;
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 20px;
	background-color: #DFF3FD;
	vertical-align:top;
}
.view-albumview .views-row:nth-child(2n){
	margin-right:0;
}
.views-field-field-album-image {
	/*margin-right: 25px;*/
    overflow: hidden;
	/* height: 270px; */
}

.views-field-field-album-image img {
	width: 100%;
	/*height: 270px;*/
}

.view-albumview .views-field-created {
	background: url(/sites/hkggacms/files/hkgga_desktop-81.png) no-repeat right top;
	height: 100px;
	overflow: hidden;
}

.album_desc {
	line-height: 2.5em;
	line-height: 2em;
	padding: 15px;
	/*margin-bottom: 25px;
	margin-right: 25px;*/
}

.album_desc span {
	font-weight: bold;
}

.field-name-field-album-image > div.field-items > div {
	/*width: 30%;*/
	width: 360px;
	width: 330px;
	width: 32.2%;
    /* height: 280px; 
    overflow: hidden;*/
	display: inline-block;
    padding: 0px 15px 8px 0px;
}
.field-name-field-album-image > div.field-items > div img{
	width:100%;
}
.field-name-field-album-image > div.field-items > div:nth-child(3n){
	padding-right:0;
}
.views-widget-sort-by, .views-widget-sort-order {
	float: right;
}
/* photo album */


.content-sidebar-wrap {
	margin: 0 3% 1% 10.5%;
	margin:0;
	max-width:800px;
}

.no-sidebars .content-sidebar-wrap {
	width: 100%;
    max-width: 100%;
}
.page-frontpage.no-sidebars .content-sidebar-wrap,.page-frontpage-en.no-sidebars .content-sidebar-wrap{
	width: 100%;
}
#footer {
	border-top: 0;
}
.footer_credit{
	max-width: 1080px;
    margin: 0 auto;
}
.footer_inner_credit {
	max-width: 80%;
	max-width: 100%;
	/* margin:0 5%; */
}

#copyright {
	margin: 0 20px;
}

p.copyright {
	color: #FFF;
}

#sidebar-second {
	color: #000;
}

.slide__caption {
	padding: 0;
	min-height:4em;
}

.slide__caption a {
	color: #51225E;
}


.ctools-auto-submit-full-form .views-submit-button{
	display:none;
}
.ctools-auto-submit-full-form .views-reset-button{
	display:block;
	float:none;
}
aside .views-exposed-widgets .views-exposed-widget {
	margin-bottom: 20px;
}

aside .views-exposed-widgets .views-submit-button, aside .views-exposed-widgets .views-reset-button {
	margin-top: -20px;
	margin-right:10%;
    float: left;
}

.views-exposed-form .views-exposed-widget.views-widget-sort-by,
.views-exposed-form .views-exposed-widget.views-widget-sort-order{
	float: left;
	/* display:inline-block; */
}
/* div{border:1px solid blue;} */
.page-album .views-exposed-widget.views-widget-sort-by,
.page-album-en .views-exposed-widget.views-widget-sort-order{
	/* float:none; */
}
/*.page-node h1 {
	color: #7843A3;
}*/

/* event details */
.event_links .btnNext, .event_links .btnPrev {
	vertical-align: text-bottom;
}
.event_icons {
	margin-top: 2em;
}

/* newsletter */
.view-newsletter-view span.field-content {
	display: block;
}
.view-newsletter-view span.field-content a {
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #7843a3;
    border-radius: 4px;
    color: #fff;
    font-weight: normal;
    padding: 4px 8px;
    /*display: inline-block;*/
    margin-bottom: 1px;
}

/* footer */
#foot{
	margin: 0 20px;
	clear: both;
    padding: 0 0px;
    line-height: 40px;
}
#foot a {
	color: #FFF;
}
#block-block-23 {
	margin-bottom: 0;
    display: inline-block;
}
#block-block-23 p{
	color:#FFF;
}
/* last update date */
#block-block-27, .last-update {
	max-width: 1040px;
    margin: 1% auto;
	margin-top: 2em;
}

/* our-history */
.yearTabs {
    width: 100%;
    padding: 2% 0;
}
.yearTabs > div {
    display: inline-table;
    width: 23%;
	cursor:pointer;
	font-size: 1.2em;
}
.yearTabs > div:hover{
	text-decoration: underline;
}
.yearContent > div{
	background: #eee;
    padding: 1% 2%;
}
.yearContent .syr {
	font-weight:bold;
}

.ds-1col .field-name-field-event-endtime{
	margin-bottom:10px;
}
.field-name-field-resource-type, .field-name-field-resources-related-section,
.field-name-field-new-area,
.field-name-field-events-location, .field-name-field-related-section, .field-name-field-events-type {
	display: inline-block;
    margin-right: 2em;
    margin-top: 2em;
	vertical-align: top;
}
.field.field-name-field-resources{
	margin-top: 2em;
}

.search-results .node-type{
	color:#BD0071;
	font-weight:bold;
	font-size:1em;
}

.region-search-region .views-exposed-form .views-exposed-widget,.region-search-region .views-exposed-form .views-exposed-widget .form-submit,.region-search-region .views-exposed-widgets{
	padding:0;
	margin:0;
}
#views-exposed-form-search-page .views-widget-filter-keys,#views-exposed-form-search-page .views-submit-button{
	display:inline-block;
}
#views-exposed-form-search-page .form-submit, input.btnFake{
    margin-left: 0;
    margin-right: 0;
    height: 25px;
    width: 34px;
    padding: 0;
    cursor: pointer;
    text-indent: -9999px;
    border-color: #e4e4e4 #d2d2d2 #b4b4b4;
    background: url("../images/search-button.png") no-repeat center top;
    overflow: hidden;
}
input.btnFake:hover{
    background: url("../images/search-button.png") no-repeat center bottom;
}
#views-exposed-form-search-page .views-exposed-widgets.clearfix:after{
	content:"";
}
#views-exposed-form-search-page .form-item input.error{
	border: 1px solid #ccc;
}
.page-search-result #views-exposed-form-search-page .form-item input.error{
	border: 2px solid red;
}
.view-search .search-results li{
	padding-bottom: 0.4285em;
    margin-bottom: 0.5em;
}

input#edit-combine{
	width:80%;
}


/* New CSS */
.table-responsive{
    overflow: auto;
}
.i18n-en #main-menu a {
    padding: 8px 5.5px;
}
.sContent .content-sidebar-wrap #content {
    display: inline-block;
}
.table-responsive td{
    padding: 0px;
}
.sContent .post-content {
    margin: 0px !important;
}
/*.page-node-7878 .big-img{
    width: 150px;
    height: auto;
}*/
